@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;

}

/* cmList 전체의 div */
.cmList-div {
    float: left;
    margin-left: 500px;
}

.cmList-board-title {
    padding: 15px 0px 15px 430px;
    font-family: aggro02;
    margin-left: 400px;

}

.cmList-board {
    float: left;
    padding: 1%;
    padding-bottom: 1%;
    font-family: aggro02;
    color: #a39485;

}

.cmList-board-tbody {
    padding:1.5em;
    background: #f5f5f5
}

.cmList-table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 1000px;
    font-family: aggro02;
    margin-left: 450px;
}

.cmList-board-th {
    text-align: center;
}

.cmList-board-thead {
    font-weight: bold;
    color: #fff;
    background: #3b3b3c;
}

.cmList-summary-td, #cmList-summary-th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

.cmList-summary-td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #f6f5f4;
}

a:hover { /* 마우스 올렸을 때 a 태그 색 바뀜 */
    color: #878688;
}

/* 반응형 만들 경우 */
@media screen and (max-width: 700px) {
    /* 윈도우가 얼마나 작아질 때

    /* cmListList 전체의 div */
    .cmList-div {
        float: left;
        margin: 5%;
    }

    .cmList-board-title {
        padding: 5%;
        font-family: aggro02;

    }

    /* 테이블도 작아질지 (형태 변할지) 지정 */
    .cmList-table {
        border: 2px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        width: 395px;
        /* 반응형일 때의 테이블 크기*/
        /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
        padding-top: 100px;
    }

    .write-button-div {
        float: left;
        margin: 0px 0px 2px 15px;

    }

    .cmList-write-button {
        font-family: aggro02;
        font-size: 12px;

        padding: 2px 1px 1px 1px;
        /* 버튼 테두리와 버튼 안 글씨 사이의 공간 */

        margin: 2px 0px 2px 15px;
        /* 버튼의 위치*/
    }

}