@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;
}

body {
    font-family: aggro02;
}

/* 조회수 우측상단 */
.FAQHit {
    text-align: right;

}

/* 문의사항 전체 div */
.FAQView-div {
    float: left;
    width : 510px;
    padding: 1%;
    font-family: aggro02;
    color: #2b2b2c;
    margin-left: 25%;
    overflow: visible;
}

.FAQView-table-caption {
    font-size: 25px;
}

/* 질문 table의 css */
.FAQView-table {
    border: 2px #ffffff solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: visible;
    width: 180%;

    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
}

.content-div01, .content-div02 {
    height: 1%;
}

/* 답변 div의 css */
.FAQView-answer-div {
    padding-top: 10%;
}

/* 답변 table의 css */
#FAQAnswer {
    border: 2px #ffffff solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: visible;
    width: 180%;

    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
}

#FAQAnswer-write {
    border: 2px #ffffff solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: visible;
    width: 180%;

    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
}

/* 문의사항 삭제 버튼 */
.delete-button {
    font-family: aggro02;
}

.answer-title-div {
    padding: 1px;
    width: 850px;
    height: 20px;
    margin: 0;
}

.answer-content-div {
    padding: 1px;
    width: 850px;
    height: 60px;
    margin: 0;
}

#FAQWrite01, #FAQWrite02 {
    text-align: left;
}

.FAQ-answer-title {
    width: 560px;
    font-family: aggro02;
}

.FAQ-answer-content {
    width: 560px;
    height: 120px;
    text-align: left;
    /* 구인글 textarea 크기 고정 */
    resize: none; /* 사용자 임의 변경 불가 */
    font-family: aggro02;
}

.ans-btn {
    font-family: aggro02;
    font-size: 16px;
    width: 120px;
    height: 60px;
}

.FAQView-th {
    text-align: center;
}

.FAQView-td, #FAQView-th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

.FAQView-td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #2b2b2c;
}

.delete-button {
    padding: 3px;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
}

/* 반응형 만들 경우 */
@media screen and (max-width: 1200px) { /* max-width 가 몇일 때 형태 변할지 지정 */

    .FAQView-table {
        border: 2px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        width: 600px;
        /* 반응형일 때의 테이블 크기*/
        /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
        padding-top: 100px;
    }



}