
.option-select-div {
    float: left;
    padding-top: 7px;
}
option {
    font-family: aggro02;
}



.search-bar {
    border: 0;
    border-radius: 15px;
    outline: solid;
}

.search-btn {
    font-family: aggro02;
}

/* 반응형 만들 경우 */
@media screen and (max-width: 700px) {
    /* 윈도우가 얼마나 작아질 때
       테이블도 작아질지 (형태 변할지) 지정 */


}