@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;
}

header {
    margin: 12px;
    border-radius: 20px;
    font-family: 'aggro02';
    box-shadow: -5px -5px 10px #bbbabb, 5px 5px 8px black;

}

a {
    color: black;
    text-decoration-line : none;
}

.header-menu, .web-name,
.login, .join, .Logout,
.pmList, .cmList {
    text-decoration: none;
    color: #ffffff;
    filter: drop-shadow(10px 6px 6px #2b2b2c);
}



.header-menu:hover, .web-name:hover,
.login:hover, .join:hover, .Logout:hover,
.pmList:hover, .cmList:hover{ /* 마우스 올렸을 때 a 태그 색 바뀜 */
    color: black;
    filter: drop-shadow(10px 6px 6px #000000);
}


/*body {
     display: block;
     margin: 0px;
     height: 30px;
     border-radius: 6px;
}*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #737275;
    padding: 3px;
    border-radius: 20px;
}

.web-name:hover { /* 아이콘에 색 넣기 */
    font-size: 50px;
    filter: drop-shadow(10px 6px 6px #212121);
}



.web-name {
    height: 57px;
    width: 200px;
    filter: drop-shadow(10px 6px 6px rgba(63, 63, 63, 0.93));
    /*width: 210px; height: 65px; filter: drop-shadow(10px 6px 6px #3b3b3c);*/
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}

/* 헤더 구인, 구직, 공지사항, 문의사항 네모칸
( 마우스 올리기 전까지는 안 보임 ) */
.navbar__menu li {
    padding: 8px 12px;
    /*margin-top: 15px;*/
}
/* 헤더 구인, 구직, 공지사항, 문의사항 네모칸
( 마우스 올렸을 때 보이는 네모칸 ) */
.navbar__menu li:hover {
    background-color: #cccccc;
    border-radius: 4px;
    box-shadow: -5px -5px 10px #878688, 5px 5px 8px black;
}

.navbar__links {
    list-style: none;
    padding-left: 0;
    color: teal;
    display: flex;
}

.navbar__links li {
    padding: 8px 12px;
    margin-top: 15px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.header-mobile {
    display: none;

}



@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
        margin:  25px 0px 0px 20px;
        padding-left: 10px;
        color: #ffffff;
    }

    .navbar__toggleBtn:hover {
        color: black;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
    }

    .header-mobile {
        visibility: visible;
        display: block;
    }


}

