@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;
}

.JobView-div {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 300px;
}

.JobView-title-div {
    float: left;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-family: aggro02;
    color: #3b3b3c;
    width: 100%;
}

.JobView-title {
    float: left;
    margin: 30px 0px 0px 27%;
}

.hits {
    float: left;
    margin: 0px 0px 0px 1115px;
    font-family: aggro02;
    font-size: 17px;
    color: #3b3b3c;
}

.Job-button-div {
    float: left;
    margin: 0px 0px 0px 500px;
}

.Job-btn {
    font-family: aggro02;
}


.JobView-table-div {
    border: 2px #3b3b3c solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: auto;
    width: 1190px;
    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    height: auto;
    float: left;
    font-family: aggro02;
    color: #a39485;
    margin: 5px 10px 5px 2px;
}

/*.JobView-table02 {
    margin-left: 35px;
}*/

.JobView-t01-div {
    float: left;
    width: 95%;
    margin: 1px 1px 1px 1px;
}

.JobView-t02-div {
    float: left;
    width: 95%;
    height: 27%;
    margin: 1px 0px 1px 1px;
}

.Job-content {
    width: 1010px;
    height: 200px;
    vertical-align: middle;
    text-align: left;
    margin-left: 35px;
    font-size: 20px;
}

/* 구직글번호 ~ 급여까지의 div */
.JobView-0101div {
    float: left;
    width: 32%;
    margin-left: 3px;
}
/* 구직글번호 ~ 급여까지의 table */
.JobView-0101t {
    margin-left: 35px;
    float: left;
}

/*근무 기간 ~ 근무 시간까지의 div*/
.JobView-0102div {
    float: left;
    width: 32%;
    margin-left: 3px;
}
/*근무 기간 ~ 근무 시간까지의 table*/
.JobView-0102t {
    margin-left: 60px;
}

/* 자격증 1 ~ 주소까지의 div*/
.JobView-0103div {
    float: left;
    width: 35%;
    margin-left: 3px;
}
/* 자격증 1 ~ 주소까지의 table*/
.JobView-0103t {
    float: right;
}

.JobView-t03-div {
    float: left;
    width: 99%;
}

.JobView-file-table01 {
    margin-left: 35px;
}
.JobView-file-table02 {
    margin-left: 35px;
}
.JobView-file-table03 {
    margin-left: 35px;
}





.JobView-th {
    text-align: center;
}

.JobView-td, #JobView-th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

.JobView-td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #010102;
}

/* 조회수 */
.hits   {
    text-align: right;
}
/* 반응형 만들 경우 */
@media screen and (max-width: 1200px) { /* max-width 가 몇일 때 형태 변할지 지정 */

    .JobView-table-div {

    }

    /*.JobView-table {
        border: 2px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-collapse: collapse;
        border-radius: 5px;
        overflow: auto;
        width: 150px;
        !* 반응형일 때의 테이블 크기*!
        !* 반응형에 적용할 때는 width: 200px로 하면 될 듯 *!
        padding-top: 100px;
    }*/

}