@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;
}
/* 내 정보(개인) 전체 div */
.myView-div {
    float: left;
    padding: 30px 0px 0px 20%;
    font-family: aggro02;
    color: #a39485;
}

.myView-table-caption {
    font-size: 25px;
    margin: 0 0 2% 0;
}

.cmMyView-table {
    border: 2px #737275 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 200%;
    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
    color: #2b2b2c;
}

.pmMyView-table {
    border: 2px #737275 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 200%;
    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
    color: #2b2b2c;
}

.myView-th {
    text-align: center;
}

.myView-td, #myView-th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

.myView-td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

.modify-button {
    padding: 3px;
    margin: 10px 10px 10px 180px;
    font-family: aggro02;
    font-size: 20px;
}

.delete-button {
    padding: 3px;
    margin: 10px;
    font-family: aggro02;
    font-size: 20px;
}

/* 반응형 만들 경우 */
@media screen and (max-width: 1200px) { /* max-width 가 몇일 때 형태 변할지 지정 */

    .myView-table {
        border: 2px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        width: 600px;
        /* 반응형일 때의 테이블 크기*/
        /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
        padding-top: 100px;
    }

    .modify-button {
        padding: 3px;
        margin: 10px;

    }

    .delete-button {
        padding: 3px;
        margin: 10px;
    }


}