@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;
}

.noticeHit {
    text-align: right;

}

/* 공지 전체 div */
.noticeView-table-div {
    float: left;
    width : 510px;
    padding: 1%;
    font-family: aggro02;
    color: #2b2b2c;
    margin-left: 25%;
    overflow: visible;
}

.noticeView-table-caption {
    font-size: 25px;
}

.noticeView-table {
    border: 2px #ffffff solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 5px;
    overflow: visible;
    width: 180%;

    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
}

.content-div01, .content-div02 {
    height: 1%;
}

.noticeView-th {
    text-align: center;
}

.noticeView-td, #noticeView-th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

.noticeView-td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

.noticeView-delete-btn {
    margin: 1%;
    padding: 4px 0 0 0;
    font-family: aggro02;
}

/* 반응형 만들 경우 */
@media screen and (max-width: 1200px) { /* max-width 가 몇일 때 형태 변할지 지정 */

    .noticeView-table {
        border: 2px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        width: 600px;
        /* 반응형일 때의 테이블 크기*/
        /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
        padding-top: 100px;
    }



}