@font-face {
    src: url("../fonts/aggro02.ttf");
    font-family: aggro02;
}

textarea {
    resize: none; /* 사용자 임의 변경 불가 */
    width: auto;
    height: 400px;
}

span {
    font-family: aggro02;
}

/* 구인 게시판 작성 */
.pwChangeForm-table-div {
    float: left;
    width : 500px;
    padding: 1%;
    font-family: aggro02;
    color: #3b3b3c;
    margin-left: 470px;
}

.pwChangeForm-table-caption {
    font-size: 25px;
    margin-left: 50px;
}

.pwChangeForm-table {
    border: 2px #3b3b3c solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse:collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 180%;
    /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
    padding-top: 100px;
}

.pwChangeForm-th {
    text-align: center;
    height: 20px;
}

.pwChangeForm-td, #pwChangeForm-th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
}

.pwChangeForm-td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

/*
.ghost-pwChangeForm02 {
    float: left;
    padding: 12px;
}
*/

input[type="text"] {
    font-family: aggro02;
}

.pwChangeFormPw {
    width: 250px;
    height: 25px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: left;
    margin-right: 75px;
}

.pwChangeFormNew {
    width: 250px;
    height: 25px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: left;
    margin-right: 75px;

}

.pwChangeFormCheck {
    width: 250px;
    height: 25px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: left;
    margin-right: 75px;
}

textarea::placeholder {
    font-family: aggro02;
    font-size: 1.2em;
}

/* 반응형 만들 경우 */
@media screen and (max-width: 1200px) { /* max-width 가 몇일 때 형태 변할지 지정 */

    .pwChangeForm-table {
        border: 2px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        width: 600px;
        /* 반응형일 때의 테이블 크기*/
        /* 반응형에 적용할 때는 width: 200px로 하면 될 듯 */
        padding-top: 100px;
    }


}