<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="autor" content="">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/chatButton.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3622343ca.js" crossorigin="anonymous"></script>
    <title>채팅</title>

</head>

<body>

<button th:if="${session.login ne null}" onclick="window.open('chatMessage','채팅방','width=430,height=500,location=no,status=no,scrollbars=yes')"
        class="chat-box">
    <i class="fa-regular fa-comments"></i>
</button>

</body>

</html>