<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="autor" content="">
  <meta name="date" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="/assets/css/chatMessage.css">
  <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
  <title>팅팅</title>
</head>

<body class="chat-body">

<div id="username-page">
  <div class="username-page-container">

    <h1 class="chat-title">채팅을 시작하세요!</h1>

    <form id="usernameForm" name="usernameForm">

      <div class="chat-form-group">
        <input type="text" id="name" th:value="${session.login.MId}" autocomplete="off"  class="form-control" readonly />
      </div>

      <div class="chat-form-group">
        <button type="submit" class="accent username-submit">START</button>
      </div>

    </form>

  </div>
</div>

<div id="chat-page" class="hidden">

  <div class="chat-container">
    <div class="chat-header">
      <h2 class="chat-title">채팅방</h2>
    </div>
    <div class="connecting">
       곧 연결됩니다..
    </div>
    <ul id="messageArea">

    </ul>

    <form id="messageForm" name="messageForm">
      <div class="chat-form-group">
        <div class="input-group clearfix">

          <input type="text" id="message"  autocomplete="off" class="form-control"/>

          <button type="submit" class="primary">전송</button>

        </div>
      </div>
    </form>
  </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/assets/js/chatMessage.js"></script>


</body>
</html>