<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="autor" content="밍고">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="assets/css/GuinWrite.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <title>구인작성</title>
</head>

<div th:include="header.html"></div>

<body>

<div class="ghost-GuinWriteForm01">
    <table>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </table>
</div>

<div class="GuinWriteForm-table-div">

    <div class="ghost-GuinWriteForm02">
        <table>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>
    </div>



    <form action="PMGuinWrite" method="POST" enctype="multipart/form-data"
          class="GuinWriteForm">

        <input type="hidden" name="GBScale" th:value="${session.login.RType}"/>

        <table class="GuinWriteForm-table">
            <caption class="GuinWriteForm-table-caption">구인글 등록</caption>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">글제목</th>
                <td class="GuinWriteForm-td">
                    <input type="text" name="GBTitle" class="PMGWtitle" maxlength="37" style="text-align: center">
                </td>
            </tr>


            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">작성자 아이디</th>
                <td class="GuinWriteForm-td">
                    <input type="text" name="GBId" th:value="${session.login.MId}" readonly style="text-align: center">
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">요구학력</th>
                <td class="GuinWriteForm-td">
                    <select name="GBEdu">
                        <option value="">없음</option>
                        <option value="중학교졸이상">중학교졸 이상</option>
                        <option value="고등학교졸이상">고등학교졸 이상</option>
                        <option value="전문대졸이상">전문대졸 이상</option>
                        <option value="대학교졸이상">대학교졸 이상</option>
                        <option value="대학원졸이상">대학원졸 이상</option>
                    </select>
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">글내용</th>
                <td class="GuinWriteForm-td"><textarea name="GBContent" class="PMGWcontent" style="font-family: aggro02"></textarea></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">급여</th>
                <td class="GuinWriteForm-td">
                    <input type="number" name="GBPay" class="PMGWpay"  style="text-align: center"/>만원
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">근무기간</th>
                <td class="GuinWriteForm-td">
                    <input type="radio" name="GBPeriod" value="단기"/>단기
                    <input type="radio" name="GBPeriod" value="장기"/>장기

                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">일유형</th>
                <td class="GuinWriteForm-td">
                    <select name="GBCategory" style="width: 200px">
                        <option value="">일유형</option>
                        <option value="외식·음료">외식·음료</option>
                        <option value="유통·판매">유통·판매</option>
                        <option value="문화·여가·생활">문화·여가·생활</option>
                        <option value="서비스">서비스</option>
                        <option value="고객상담·영업·리서치">고객상담·영업·리서치</option>
                        <option value="생산·건설·노무">생산·건설·노무</option>
                        <option value="IT·인터넷">IT·인터넷</option>
                        <option value="교육·강사">교육·강사</option>
                        <option value="디자인">디자인</option>
                        <option value="미디어">미디어</option>
                        <option value="운전·배달">운전·배달</option>
                        <option value="병원·간호·연구">병원·간호·연구</option>
                    </select>
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">근무 요일</th>
                <td class="GuinWriteForm-td">
                    월<input type="checkbox" name="GBWorkDate" value="월"/>
                    화<input type="checkbox" name="GBWorkDate" value="화"/>
                    수<input type="checkbox" name="GBWorkDate" value="수"/>
                    목<input type="checkbox" name="GBWorkDate" value="목"/>
                    금<input type="checkbox" name="GBWorkDate" value="금"/>
                    토<input type="checkbox" name="GBWorkDate" value="토"/>
                    일<input type="checkbox" name="GBWorkDate" value="일"/>
                </td>
            </tr>


            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">출근 시간</th>
                <td class="GuinWriteForm-td">
                    <input type="text" name="GBWorkStart" class="PMGWworkstart" style="text-align: center">
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">근무 시간</th>
                <td class="GuinWriteForm-td">
                    <input type="number" name="GBWorkTime" class="PMGWworktime" style="text-align: center"/>시간
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">요구 자격증1</th>
                <td class="GuinWriteForm-td"><input type="text" class="PMGWlicense1" name="GBLicense1"></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">요구 자격증2</th>
                <td class="GuinWriteForm-td"><input type="text" class="PMGWlicense2" name="GBLicense2"></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">요구 자격증3</th>
                <td class="GuinWriteForm-td"><input type="text" class="PMGWlicense3" name="GBLicense3"></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">주소</th>
                <td class="GuinWriteForm-td">
                    <input type="text" name="GBAddr1" id="sample6_postcode" placeholder="우편번호">
                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br><br>
                    <input type="text" name="GBAddr2" size="40" id="sample6_address" placeholder="주소"><br><br>
                    <input type="text" name="GBAddr3" size="40" id="sample6_detailAddress" placeholder="상세주소">

                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">첨부파일1</th>
                <td class="GuinWriteForm-td"><input type="file" name="GBDatafile1"/></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">첨부파일2</th>
                <td class="GuinWriteForm-td"><input type="file" name="GBDatafile2"/></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">첨부파일3</th>
                <td class="GuinWriteForm-td"><input type="file" name="GBDatafile3"/></td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th class="GuinWriteForm-th">마감일</th>
                <td class="GuinWriteForm-td">
                    <input type="date" name="GBCloseDate">
                </td>
            </tr>

            <tr class="GuinWriteForm-tr">
                <th colspan="2">
                    <button class="submit-btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                        등록
                    </button>
                </th>
            </tr>

        </table>

    </form>

</div>

</body>

<script
        src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }


                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</html>