<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/othersView.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <title>프로필</title>

</head>

<div th:include="header.html"></div>

<body>

<div class="otherView-div">

    <table class="otherView-table">

        <caption class="otherView-table-caption">[[${company.MId}]] 정보보기</caption>

        <tr class="otherView-tr">
            <th class="otherView-th">아이디</th>
            <td class="otherView-td" th:text="${company.MId}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">기업명</th>
            <td class="otherView-td" th:text="${company.CMName}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">이메일</th>
            <td class="otherView-td" th:text="${company.CMEmail}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">연락처</th>
            <td class="otherView-td" th:text="${company.CMPhone}"></td>
        </tr>

        <!-- 카카오 주소 api 사용하기 -->
        <tr class="otherView-tr">
            <th class="otherView-th">주소</th>
            <td class="otherView-td" th:text="${company.CMAddr}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">기업 로고</th>
            <td class="otherView-td">
                <img th:src="@{/profile/{profileName}(profileName=${company.CMProfileName})}"
                     width="200px">
            </td>
        </tr>

    </table>

</div>

</body>

</html>