<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/FAQAnswer.css">
  <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
  <title>문의사항 답변</title>
</head>

<div th:include="header.html"></div>

<body>

<div class="FAQView-div">

<form action="FAQAnswer" method="POST">
  <table>
    <tr>
      <input type="hidden" name="FAQNum" th:value="${FAQNum}"/>
      <td>글제목</td>
      <td><input type="text" name="AnswerTitle"></td>
    </tr>
    <tr>
      <td>글내용</td>
      <td><textarea name="AnswerContent"></textarea></td>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" value="등록"></th>
    </tr>

  </table>

</form>
</body>
</html>