<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="mingo">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/FAQView.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">


    <title>문의사항</title>
</head>

<div th:include="header.html"></div>

<body>

<div class="FAQView-div">

    <div class="FAQView-Quest-div">

        <table class="FAQView-table">
            <caption class="FAQView-table-caption">문의사항</caption>

            <caption class="FAQHit" align="right">
                조회수 : [[${FAQView.FAQHit}]]
            </caption>

            <tbody>

            <tr class="FAQView-tr">
                <th class="FAQView-th">작성자</th>
                <td class="FAQView-td">[[${FAQView.FAQWriter}]]</td>
            </tr>

            <tr class="FAQView-tr">
                <th class="FAQView-th">제목</th>
                <td class="FAQView-td">[[${FAQView.FAQTitle}]]</td>
            </tr>

            <tr class="FAQView-tr">
                <th class="FAQView-th">내용</th>
                <td class="FAQView-td">[[${FAQView.FAQContent}]]</td>
            </tr>

            <tr class="FAQView-tr">
                <th class="FAQView-th">참고자료</th>
                <td class="FAQView-td">
                    <a th:if="${FAQView.FAQFileName ne null}"
                       th:href="@{/faqfile/{aa}(aa=${FAQView.FAQFileName})}" download>
                        [[${FAQView.FAQFileName}]]
                    </a>
                </td>
            </tr>

            </tbody>

        </table>

    </div>

    <div class="FAQView-answer-div">

        <table th:if="${FAQView.AnswerTitle ne null}" id="FAQAnswer">

            <caption class="FAQView-table-caption">관리자 답변</caption>

            <tr class="FAQView-tr">
                <th class="FAQView-th">⮡ &nbsp;&nbsp;답변 제목</th>
                <td class="FAQView-td">
                    <div class="answer-title-div">
                        [[${FAQView.AnswerTitle}]]
                    </div>
                </td>


            </tr>

            <tr class="FAQView-tr">

                <th class="FAQView-th">⮡ &nbsp;&nbsp;답변 내용</th>
                <td class="FAQView-td">
                    <div class="answer-content-div">
                        [[${FAQView.AnswerContent}]]
                    </div>
                </td>


            </tr>


            <tr class="FAQView-tr">
                <th colspan="2">
                    <button th:if="${session.login ne null && session.login.MId eq 'admin'}"
                            onclick="showAnswer()"
                            class="delete-button">
                        <i class="fa-solid fa-pen-to-square"></i>
                        답변 작성
                    </button>

                    <button class="delete-button" th:if="${session.login ne null && session.login.MId eq 'admin'}"
                            data-text="Open Project"
                            th:onclick="FAQDelete()">
                        <span>
                            <i class="fa-solid fa-trash-can"></i>
                            삭 제
                        </span>
                    </button>
                </th>
            </tr>
        </table>
        <div id="FAQAnswered" style="display: none;" >

            <form action="FAQAnswer" method="POST">

                <table id="FAQAnswer-write">

                    <tr class="FAQView-tr">
                        <input type="hidden" name="FAQNum" th:value="${FAQView.FAQNum}"/>
                        <td class="FAQView-td">답변 제목</td>
                        <td class="FAQView-td" id="FAQWrite01">
                            <input type="text" name="AnswerTitle" class="FAQ-answer-title"></td>
                        <td rowspan="2">
                            <button class="ans-btn">
                                <i class="fa-solid fa-envelope-circle-check"></i>
                                답변 등록
                            </button>
                        </td>
                    </tr>

                    <tr class="FAQView-tr">
                        <td class="FAQView-td">답변 내용</td>
                        <td class="FAQView-td" id="FAQWrite02">

                            <textarea name="AnswerContent" class="FAQ-answer-content"></textarea>



                        </td>

                    </tr>


                </table>

            </form>

        </div>

    </div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script>
   let VAsw=0;
    function FAQDelete() {

        if (confirm("문의 내용을 정말로 삭제 하시겠습니까?")) {
            // 확인 버튼 클릭 시 동작
            alert("문의 내용이 삭제되었습니다.");
            location.href = 'FAQDelete?FAQNum=[[${FAQView.FAQNum}]]';
        } else {
            // 취소 버튼 클릭 시 동작
            alert("삭제를 취소했습니다.");
        }

    }
    function showAnswer(){
        if(VAsw==0){
            VAsw=1;
        $('#FAQAnswered').show();}

        else{
            VAsw=0;
            $('#FAQAnswered').hide();}
    }
</script>

</html>