
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="autor" content="rlawnstj">
  <meta name="date" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="/assets/css/FAQWrite.css">
  <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
  <title>Title</title>
</head>

<div th:include="header.html"></div>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>

<body>

<div class="FAQWriteForm-table-div">

  <form action="FAQWrite" method="POST" enctype="multipart/form-data"
        class="FAQWriteForm">

    <table class="FAQWriteForm-table">
      <caption class="FAQWriteForm-table-caption">FAQ 작성</caption>

      <tr class="FAQWriteForm-tr">
        <th class="FAQWriteForm-th">작성자</th>
       <td><input type="text" name="FAQWriter" th:value="${session.login.MId}" class="FWriter" style="margin-right: 30px;"readonly></td>
      </tr>

      <tr class="FAQWriteForm-tr">
        <th class="FAQWriteForm=th">글제목</th>
        <td class="FAQWriteForm-td">
          <input type="text" name="FAQTitle" class="FTitle" maxlength="37">
        </td>
      </tr>

      <tr class="FAQWriteForm-tr">
        <th class="FAQWriteForm-th">글내용</th>
        <td class="FAQWriteForm-td"><textarea name="FAQContent" class="FContent"></textarea></td>
      </tr>

      <tr class="FAQWriteForm-tr">
        <th class="FAQWriteForm-th">파일업로드</th>
        <td class="FAQWriteForm-td"><input type="file" name="FAQFile" class="FFile" style="font-family: aggro02;"></td>
      </tr>

      <tr>
        <th colspan="2"><input type="submit" value="등록" style="font-family: aggro02;"></th>
      </tr>
    </table>
  </form>
</div>
</body>
</html>