<link rel="stylesheet" href="/assets/css/GJSearch.css">

    <div class="option-select-div">

        <span>지역</span>
        <select id="sido" name="sido" onchange="getsiGoon()">
            <option value="">전체</option>
            <option value="인천">인천</option>
            <option value="충북">충북</option>
            <option value="서울">서울</option>
            <option value="대전">대전</option>
            <option value="부산">부산</option>
            <option value="대구">대구</option>
            <option value="광주">광주</option>
            <option value="세종">세종</option>
            <option value="울산">울산</option>
            <option value="제주">제주</option>
            <option value="경남">경남</option>
            <option value="강원">강원</option>
            <option value="전북">전북</option>
            <option value="경기">경기</option>
            <option value="충남">충남</option>
            <option value="경북">경북</option>
            <option value="전남">전남</option>
        </select>
        <select id="siGoon" name="sigoon">
            <option value="">전체</option>
        </select>
        &nbsp;

        <!--카테고리 일 유형-->
        <span>일유형</span>
        <select name="Category" id="Category">
            <option value="">일유형</option>
            <option value="외식·음료">외식·음료</option>
            <option value="유통·판매">유통·판매</option>
            <option value="문화·여가·생활">문화·여가·생활</option>
            <option value="서비스">서비스</option>
            <option value="고객상담·영업·리서치">고객상담·영업·리서치</option>
            <option value="생산·건설·노무">생산·건설·노무</option>
            <option value="IT·인터넷">IT·인터넷</option>
            <option value="교육·강사">교육·강사</option>
            <option value="디자인">디자인</option>
            <option value="미디어">미디어</option>
            <option value="운전·배달">운전·배달</option>
            <option value="병원·간호·연구">병원·간호·연구</option>
        </select>
        &nbsp;

        <!--유형-->
        <span>규모</span>
        <select name="Scale" id="Scale">
            <option value="">전체</option>
            <option value="기업">기업</option>
            <option value="개인">개인</option>
        </select>
        &nbsp;

        <!--검색-->
        <input type="search" id="searchv" name="searchv" class="search-bar"/>
        <input type="button" value="검색" class="search-btn" onclick="searchGuin()"/>

    </div>