<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="autor" content="밍고">
    <meta name="date" content="">
    <meta name="description" content="">
    <!-- 아이콘 사용 사이트 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/guinList.css">

    <title>구인게시판</title>
</head>

<div th:include="header.html"></div>

<body>

<div class="GuinList-div">

    <h1 class="Guin-board-title">구인게시판</h1>

    <div class="Guin-board">

        <div th:include="GJSearch.html"></div>
        <!-- 구인 게시판 Select Option -->

        <div class="write-button-div">

            <button onclick="location.href='PMGuinWrite'"
                    th:if="${session.login ne null && session.login.RType eq '개인'}" class="Guin-write-button">
                <i class="fa-solid fa-pen-to-square"></i>
                구인게시글 작성
            </button>

            <button onclick="location.href='CMGuinWrite'"
                    th:if="${session.login ne null && session.login.RType eq '기업'}" class="Guin-write-button">
                <i class="fa-solid fa-pen-to-square"></i>
                구인게시글 작성
            </button>

            <button onclick="Login()" th:if="${session.login eq null}" class="Guin-write-button">
                <i class="fa-solid fa-pen-to-square"></i>
                구인게시글 작성
            </button>

        </div> <!-- 작성 버튼의 div 끝 -->

        <table class="Guin-table">
            <!--  <caption>게시글목록</caption> -->
            <thead class="Guin-board-thead">
            <tr class="Guin-board-tr">
                <th class="Guin-board-th">글번호</th>
                <th class="Guin-board-th">작성자</th>
                <th class="Guin-board-th">제목</th>
                <th class="Guin-board-th">일유형</th>
                <th class="Guin-board-th">조회수</th>
                <th class="Guin-board-th">마감여부</th>
            </tr>
            </thead>

            <tbody class="Guin-board-tbody" id="GuinListT">

            </tbody>
            <tfoot>

            <tr class="Guin-board-tr">
                <td class="Guin-board-td"></td>
                <td class="Guin-board-td"></td>

                <div class="pageNum-div">
                    <td class="guin-page-num" id="GuinPage">
                        <!-- 페이지의 숫자와 뒤로가기, 앞으로가기 -->
                    </td>
                </div>

                <td class="Guin-board-td"></td>
                <td class="Guin-board-td"></td>

                <td class="Guin-board-td">
                    <div class="page-select-div">
                        <select id="viewNum" onchange="searchGuin()">
                            <option value="10" class="pageNum-option" selected>10씩 보기</option>
                            <option value="15" class="pageNum-option">15씩 보기</option>
                            <option value="" class="pageNum-option">전체 보기</option>
                        </select>
                    </div>
                </td>

            </tr>

            </tfoot>

        </table>

        <input type="hidden" id="page" value="1">

    </div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>

<script>
    function Login() {
        alert('로그인후 사용해주세요');
        location.href="Login";
    }
</script>

<script>
    function getsiGoon() {
        let sido = $('#sido').val();
        if (sido != null) {
            $.ajax({
                type: "post",
                url: "getsigun",
                async: false,
                data: {
                    "sido": sido
                },
                dataType: 'json',
                success: function (data) {
                    $('#siGoon').empty();

                    $('#siGoon').append($("<option value=''>" + sido + "전체</option>"));
                    for (let i in data) {
                        let option = $("<option value='" + data[i] + "'>" + data[i] + "</option>");
                        $('#siGoon').append(option);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        } else {
            $('#siGoon').empty();
            $('#siGoon').append($("<option value=''>전체</option>"));
        }
    }
</script>
<script>
    $(window).ready(function () {
        searchGuin();
    });

    function searchGuin() {

        let sido = $('#sido').val();
        let siGoon = $('#siGoon').val();
        let Category = $('#Category').val();
        let Scale = $('#Scale').val();
        let searchv = $('#searchv').val();

        $.ajax({
            type: "post",
            url: "findGList",
            data: {
                "sido": sido,
                "siGoon": siGoon,
                "Category": Category,
                "Scale": Scale,
                "searchv": searchv
            },
            async: false,
            dataType: 'json',
            success: function (data) {
                datapage(data);
            },
            error: function () {

            }
        });
    }

    function datapage(data) {
        if (data != "") {
            let page = $('#page').val();
            let block = 5;

            // 한 화면에 보여줄 게시글 갯수

            // 전체 게시글 갯수 : 7
            let bCount = Object.keys(data).length;
            let limit = $('#viewNum').val();
            if (limit == "") {
                limit = bCount;
            }

            let maxPage = (Math.ceil(bCount / limit));

            if (page > maxPage) {
                page = maxPage;
            }

            let startRow = (page - 1) * limit + 1;
            let endRow = page * limit;

            if (endRow > bCount) {
                endRow = bCount;
            }

            let startPage = (((Math.ceil(page / block))) - 1) * block + 1;
            let endPage = startPage + block - 1;

            if (endPage > maxPage) {
                endPage = maxPage;
            }

            let text = '';
            for (let i = startRow - 1; i < endRow; i++) {
                text += ' <tr class="Guin-board-tr">\n' +
                    '                <th class="Guin-board-th">' + data[i].gbnum + '</th>\n' +
                    '                &lt;!&ndash; if 문을 사용해서 본인이 본인 글을 봤을 때도 따로 설정해야 함 &ndash;&gt;\n' +
                    '                <th class="Guin-board-th"><a href=\"OthersView?MId=' + data[i].gbid + '\">' + data[i].gbid + '</a>\n' +
                    '                </th>\n' +
                    '                <th class="Guin-board-th"><a href=\"GuinView?GBNum=' + data[i].gbnum + '\">' + data[i].gbtitle + '</a></th>\n' +
                    '                <th class="Guin-board-th">' + data[i].gbcategory + '</th>\n' +
                    '                <th class="Guin-board-th"><p>' + data[i].gbhit + '</p></th>\n' +
                    '                <th class="Guin-board-th">';
                if (data[i].gbdeadline == 1) {
                    text += '<p class="guin-deadline-end">마감</p>';
                } else {
                    text += '<p class="guin-deadline-ing">모집</p>';
                }
                text += '</th></tr>';
            }
            $('#GuinListT').html(text);

            let Pagetext = "<tr><th colspan='6'>";
            if (page > 1) {
                Pagetext += "<a href=\"#\" onclick=\"PrevPage();return false;\"><<<</a>&nbsp;&nbsp;";
            }
            for (let i = startPage; i <= endPage; i++) {
                if (i != page) {
                    Pagetext += "&nbsp;&nbsp;<a href=\"#\" nowPage=\"" + i + "\" onclick=\"setPage($(this).attr('nowPage'));return false;\"  style='color: gray'>" + i + "</a>&nbsp;&nbsp;";
                } else {
                    Pagetext += "&nbsp;&nbsp;<span href=\"#\" nowPage=\"" + i + "\" onclick=\"setPage($(this).attr('nowPage'));return false;\"  style='color: black'>" + i + "</span>&nbsp;&nbsp;";
                }
            }
            if (maxPage > page) {
                Pagetext += "<a href=\"#\"onclick=\"NextPage();return false;\">>>></a>&nbsp;&nbsp;";
            }
            Pagetext += "</th></tr>";
            $('#GuinPage').html(Pagetext);
        } else {
            $('#GuinListT').html('');
            $('#GuinPage').html('');
        }
    }

    function setPage(nowPage) {
        $('#page').val(nowPage);
        searchGuin();
    }

    function PrevPage() {
        let nowPagePP = $('#page').val();
        nowPagePP = nowPagePP - 1;
        $('#page').val(nowPagePP);
        searchGuin();
    }

    function NextPage() {
        let nowPagePP = $('#page').val();
        nowPagePP = parseInt(nowPagePP) + 1;
        $('#page').val(nowPagePP);
        searchGuin();
    }
</script>


</html>