<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="mingo">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/jobView.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>

    <title>구직글</title>

</head>

<div th:include="header.html"></div>

<body>

<div class="JobView-div">

    <div class="JobView-title-div">

        <h3 class="JobView-title">[[${JobView.JBTitle}]]</h3>

    </div>

    </br></br></br></br>

    <div class="Job-hits-div">

        <h6 class="hits">조회수: [[${JobView.JBHit}]]</h6>

    </div>

    <div class="JobView-table-div">

        <div class="JobView-t01-div">

            <!-- 작성글의 01번째 상세 정보 -->
            <div class="JobView-0101div">

                <table class="JobView-0101t">

                    <tr class="JobView-tr">
                        <th class="JobView-th">글번호</th>
                        <td class="JobView-td">[[${JobView.JBNum}]]</td>
                    </tr>

                    <tr class="JobView-tr">
                        <th class="JobView-th">희망 급여</th>
                        <td class="JobView-td">[[${JobView.JBPay}]]&nbsp 만원</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">희망 근무 기간</th>
                        <td class="JobView-td">[[${JobView.JBPeriod}]]</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">원하는 일</th>
                        <td class="JobView-td">[[${JobView.JBCategory}]]</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">근무 요일</th>
                        <td class="JobView-td">[[${JobView.JBWorkDate}]]</td>
                    </tr>

                </table>

            </div>

            <div class="JobView-0102div">

                <table class="JobView-0102t">

                    <tr class="JobView-tr">
                        <th class="JobView-th">작성자</th>
                        <td class="JobView-td">[[${JobView.JBId}]]</td>
                    </tr>

                    <tr class="JobView-tr">
                        <th class="JobView-th">출근 시간</th>
                        <td class="JobView-td">[[${JobView.JBWorkStart}]]</td>
                    </tr>

                    <tr class="JobView-tr">
                        <th class="JobView-th">자격증 1</th>
                        <td class="JobView-td">[[${JobView.JBLicense1}]]</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">자격증 2</th>
                        <td class="JobView-td">[[${JobView.JBLicense2}]]</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">자격증 3</th>
                        <td class="JobView-td">[[${JobView.JBLicense3}]]</td>
                    </tr>


                </table>

            </div>

            <div class="JobView-0103div">

                <table class="JobView-0103t">

                    <!-- 3번째 정보 -->
                    <tr class="JobView-tr">
                        <th class="JobView-th">학력</th>
                        <td class="JobView-td">[[${JobView.JBEdu}]]</td>
                    </tr>

                    <tr class="JobView-tr">
                        <th class="JobView-th">근무 시간</th>
                        <td class="JobView-td">[[${JobView.JBWorkTime}]]</td>
                    </tr>

                    <tr class="JobView-tr">
                        <th class="JobView-th">선호지역1</th>
                        <td class="JobView-td">[[${JobView.JBAddr1}]]</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">선호지역2</th>
                        <td class="JobView-td">[[${JobView.JBAddr2}]]</td>
                    </tr>
                    <tr class="JobView-tr">
                        <th class="JobView-th">선호지역3</th>
                        <td class="JobView-td">[[${JobView.JBAddr3}]]</td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- 02번째 : 내용 -->
        <div class="JobView-t02-div">

            <table class="JobView-table02">

                <tr class="JobView-tr">
                    <th class="JobView-th">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        내용
                    </th>
                    <td class="JobView-td">
                        <div class="Job-content">
                            [[${JobView.JBContent}]]
                        </div>
                    </td>
                </tr>

            </table>

        </div>


        <!-- 03번째 : 첨부 파일 1,2,3 -->
        <div class="JobView-t03-div">

            <table class="JobView-file-table01">
                <tr class="JobView-tr">
                    <th class="JobView-th" rowspan="3">참고자료1</th>
                    <td class="JobView-td">
                        <span th:if="${JobView.JBDatafile1Name ne ''}">
                        <a th:href="@{/jobfile/{aa}(aa=${JobView.JBDatafile1Name})}" download>
                            [[${JobView.JBDatafile1Name}]]</a></span>

                        <span th:if="${JobView.JBDatafile2Name ne ''}">
                            &nbsp;&nbsp;/&nbsp;&nbsp;
                        <a th:href="@{/jobfile/{aa}(aa=${JobView.JBDatafile2Name})}" download>
                            [[${JobView.JBDatafile2Name}]]</a></span>

                        <span th:if="${JobView.JBDatafile3Name ne ''}">
                            &nbsp;&nbsp;/&nbsp;&nbsp;
                        <a th:href="@{/jobfile/{aa}(aa=${JobView.JBDatafile3Name})}" download>
                            [[${JobView.JBDatafile3Name}]]</a></span>


                    </td>
                </tr>
            </table>

            <!--<table class="JobView-file-table02">
                <tr class="JobView-tr">
                    <th class="JobView-th">참고자료2</th>
                    <td class="JobView-td">
                        <a th:if="${JobView.JBDatafile1Name ne null}" th:href="@{/jobfile/{aa}(aa=${JobView.JBDatafile2Name})}" download>[[${JobView.JBDatafile2Name}]]</a>
                    </td>
                </tr>
            </table>

            <table class="JobView-file-table03">
                <tr class="JobView-tr">
                    <th class="JobView-th">참고자료3</th>
                    <td class="JobView-td">
                        <a th:if="${JobView.JBDatafile1Name ne null}" th:href="@{/jobfile/{aa}(aa=${JobView.JBDatafile3Name})}" download>[[${JobView.JBDatafile3Name}]]</a>
                    </td>
                </tr>

            </table>-->

        </div>

    </div>


    <div class="Job-button-div">
        <button class="Job-btn"
                th:if="${session.login ne null && session.login.MId eq JobView.JBId}"
                th:onclick="|location.href='@{JobModify(JBNum=${JobView.JBNum})}'|">
            <i class="fa-solid fa-file-pen"></i>수정
        </button>

        <button class="Job-btn"
                th:if="${(session.login ne null && session.login.MId eq JobView.JBId)|| (session.login ne null && session.login.MId eq 'admin')}"
                th:onclick="|location.href='@{JobDelete(JBNum=${JobView.JBNum})}'|">
            <i class="fa-solid fa-trash"></i>삭제
        </button>

        <button class="Job-btn" th:if="${session.login ne null && session.login.MId eq JobView.JBId && JobView.JBDeadline eq 0}"
                th:onclick="|location.href='@{closeJobPost(JBNum=${JobView.JBNum})}'|">
            <i class="fa-solid fa-file-pen"></i>마감
        </button>

    </div>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script>

</script>

</html>