
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="autor" content="rlawnstj">
  <meta name="date" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
  <title>Title</title>
  <link rel="stylesheet" href="/assets/css/jobWrite.css">
</head>

<div th:include="header.html"></div>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>

<body>

<div class="ghost-JobWriteForm01">
  <table>
    <tr>
      <th></th>
      <td></td>
    </tr>
  </table>
</div>

<div class="JobWriteForm-table-div">

  <div class="ghost-JobWriteForm02">
    <table>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
  </div>


  <form action="JobWrite" method="POST" enctype="multipart/form-data"
        class="JobWriteForm">

    <table class="JobWriteForm-table">
      <caption class="JobWriteForm-table-caption">구직 게시글 작성</caption>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">글제목</th>
        <td class="JobWriteForm-td"><input type="text" name="JBTitle" class="JWtitle" maxlength="37"></td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">작성자 아이디</th>
        <td class="JobWriteForm-td"><input type="text" name="JBId" class="JWid" th:value="${session.login.MId}" readonly></td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">학력</th>
        <td class="JobWriteForm-td">
          <select name="JBEdu" style="font-family: aggro02;">
            <option value="">학력</option>
            <option value="중학교졸이상">중학교졸 이상</option>
            <option value="고등학교졸이상">고등학교졸 이상</option>
            <option value="전문대졸이상">전문대졸 이상</option>
            <option value="대학교졸이상">대학교졸 이상</option>
            <option value="대학원졸이상">대학원졸 이상</option>
          </select>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">글내용</th>
        <td class="JobWriteForm-td">
        <textarea name="JBContent" class="JWcontent" style="font-family: aggro02"></textarea>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">희망 급여</th>
        <td class="JobWriteForm-td">
          <input type="number" name="JBPay"class="JWpay"  style="font-family: aggro02">
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">희망근무기간</th>
        <td class="JobWriteForm-td">
          <input type="radio" name="JBPeriod" value="단기"/>단기
          <input type="radio" name="JBPeriod" value="장기"/>장기

        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">일 유형</th>
        <td class="JobWriteForm-td">
          <select name="JBCategory" style="width: 200px; font-family: aggro02;">
            <option value="">일유형</option>
            <option value="외식·음료">외식·음료</option>
            <option value="유통·판매">유통·판매</option>
            <option value="문화·여가·생활">문화·여가·생활</option>
            <option value="서비스">서비스</option>
            <option value="고객상담·영업·리서치">고객상담·영업·리서치</option>
            <option value="생산·건설·노무">생산·건설·노무</option>
            <option value="IT·인터넷">IT·인터넷</option>
            <option value="교육·강사">교육·강사</option>
            <option value="디자인">디자인</option>
            <option value="미디어">미디어</option>
            <option value="운전·배달">운전·배달</option>
            <option value="병원·간호·연구">병원·간호·연구</option>
          </select>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">근무 요일</th>
        <td class="JobWriteForm-td">
          월<input type="checkbox" name="JBWorkDate" value="월"/>
          화<input type="checkbox" name="JBWorkDate" value="화"/>
          수<input type="checkbox" name="JBWorkDate" value="수"/>
          목<input type="checkbox" name="JBWorkDate" value="목"/>
          금<input type="checkbox" name="JBWorkDate" value="금"/>
          토<input type="checkbox" name="JBWorkDate" value="토"/>
          일<input type="checkbox" name="JBWorkDate" value="일"/>
        </td>
      </tr>


      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">출근 시간</th>
        <td class="JobWriteForm-td">
          <input type="text" name="JBWorkStart" class="JWworkstart" style="font-family: aggro02">
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">근무 시간</th>
        <td class="JobWriteForm-td">
          <input type="number" name="JBWorkTime"class="JWworktime" style="font-family: aggro02">
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">자격증1</th>
        <td class="JobWriteForm-td">
          <input type="text" class="JWlicense1" name="JBLicense1">
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">자격증2</th>
        <td class="JobWriteForm-td">
          <input type="text"  class="JWlicense2" name="JBLicense2">
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">자격증3</th>
        <td class="JobWriteForm-td">
          <input type="text" class="JWlicense3" name="JBLicense3">
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">선호지역1</th>
        <td class="JobWriteForm-td">
          <select id="sido1" onchange="getsiGoon1()">
            <option value="">전체</option>
            <option value="인천">인천</option>
            <option value="충북">충북</option>
            <option value="서울">서울</option>
            <option value="대전">대전</option>
            <option value="부산">부산</option>
            <option value="대구">대구</option>
            <option value="광주">광주</option>
            <option value="세종">세종</option>
            <option value="울산">울산</option>
            <option value="제주">제주</option>
            <option value="경남">경남</option>
            <option value="강원">강원</option>
            <option value="전북">전북</option>
            <option value="경기">경기</option>
            <option value="충남">충남</option>
            <option value="경북">경북</option>
            <option value="전남">전남</option>
          </select>
          <select id="siGoon1" onchange="setJWAddr1()">
            <option value="">전체</option>
          </select>
          <input type="hidden" class="JWAddr1"  name="JBAddr1" id="JWAddr1"/>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">선호지역2</th>
        <td class="JobWriteForm-td">
          <select id="sido2" onchange="getsiGoon2()">
            <option value="">전체</option>
            <option value="인천">인천</option>
            <option value="충북">충북</option>
            <option value="서울">서울</option>
            <option value="대전">대전</option>
            <option value="부산">부산</option>
            <option value="대구">대구</option>
            <option value="광주">광주</option>
            <option value="세종">세종</option>
            <option value="울산">울산</option>
            <option value="제주">제주</option>
            <option value="경남">경남</option>
            <option value="강원">강원</option>
            <option value="전북">전북</option>
            <option value="경기">경기</option>
            <option value="충남">충남</option>
            <option value="경북">경북</option>
            <option value="전남">전남</option>
          </select>
          <select id="siGoon2" onchange="setJWAddr2()">
            <option value="">전체</option>
          </select>
          <input type="hidden" class="JWAddr2"  name="JBAddr2" id="JWAddr2"/><br>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">선호지역3</th>
        <td class="JobWriteForm-td">
          <select id="sido3" onchange="getsiGoon3()">
            <option value="">전체</option>
            <option value="인천">인천</option>
            <option value="충북">충북</option>
            <option value="서울">서울</option>
            <option value="대전">대전</option>
            <option value="부산">부산</option>
            <option value="대구">대구</option>
            <option value="광주">광주</option>
            <option value="세종">세종</option>
            <option value="울산">울산</option>
            <option value="제주">제주</option>
            <option value="경남">경남</option>
            <option value="강원">강원</option>
            <option value="전북">전북</option>
            <option value="경기">경기</option>
            <option value="충남">충남</option>
            <option value="경북">경북</option>
            <option value="전남">전남</option>
          </select>
          <select id="siGoon3" onchange="setJWAddr3()">
            <option value="">전체</option>
          </select>
          <input type="hidden" class="JWAddr3" id="JWAddr3" name="JBAddr3"/>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">첨부파일1</th>
        <td class="JobWriteForm-td">
          <input type="file" name="JBDatafile1" style="font-family: aggro02;" />
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">첨부파일2</th>
        <td class="JobWriteForm-td">
          <input type="file" name="JBDatafile2" style="font-family: aggro02;"/>
        </td>
      </tr>

      <tr class="JobWriteForm-tr">
        <th class="JobWriteForm-th">첨부파일3</th>
        <td class="JobWriteForm-td">
          <input type="file" name="JBDatafile3" style="font-family: aggro02;"/>
        </td>
      </tr>

      <tr>
        <th colspan="2">
          <button class="submit-btn">
            <i class="fa-solid fa-pen-to-square"></i>
            등록
          </button>
        </th>
      </tr>

    </table>

  </form>

</div>

</body>

<script
        src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function getsiGoon1() {
    let sido = $('#sido1').val();
    if (sido != null) {
      $.ajax({
        type: "post",
        url: "getsigun",
        async: false,
        data: {
          "sido": sido
        },
        dataType: 'json',
        success: function (data) {
          $('#siGoon1').empty();

          $('#siGoon1').append($("<option value=''>" + sido + "전체</option>"));
          for (let i in data) {
            let option = $("<option value='" + data[i] + "'>" + data[i] + "</option>");
            $('#siGoon1').append(option);
          }
          setJWAddr1();
        },
        error: function (error) {
          console.log(error);
        }
      });
    } else {
      $('#siGoon1').empty();
      $('#siGoon1').append($("<option value=''>전체</option>"));
      setJWAddr1();
    }
  }
  function getsiGoon2() {
    let sido = $('#sido2').val();
    if (sido != null) {
      $.ajax({
        type: "post",
        url: "getsigun",
        async: false,
        data: {
          "sido": sido
        },
        dataType: 'json',
        success: function (data) {
          $('#siGoon2').empty();

          $('#siGoon2').append($("<option value=''>" + sido + "전체</option>"));
          for (let i in data) {
            let option = $("<option value='" + data[i] + "'>" + data[i] + "</option>");
            $('#siGoon2').append(option);
          }
          setJWAddr2();
        },
        error: function (error) {
          console.log(error);
        }
      });
    } else {
      $('#siGoon2').empty();
      $('#siGoon2').append($("<option value=''>전체</option>"));
      setJWAddr2();
    }
  }
  function getsiGoon3() {
    let sido = $('#sido3').val();
    if (sido != null) {
      $.ajax({
        type: "post",
        url: "getsigun",
        async: false,
        data: {
          "sido": sido
        },
        dataType: 'json',
        success: function (data) {
          $('#siGoon3').empty();

          $('#siGoon3').append($("<option value=''>" + sido + "전체</option>"));
          for (let i in data) {
            let option = $("<option value='" + data[i] + "'>" + data[i] + "</option>");
            $('#siGoon3').append(option);
          }setJWAddr3();
        },
        error: function (error) {
          console.log(error);
        }
      });
    } else {
      $('#siGoon3').empty();
      $('#siGoon3').append($("<option value=''>전체</option>"));
      setJWAddr3();
    }
  }
  function setJWAddr1(){
    let sido = $('#sido1').val();
    let sigoon = $('#siGoon1').val();
    let JWAddr = sido+" "+sigoon;
    $('#JWAddr1').val(JWAddr);
  }
  function setJWAddr2(){
    let sido = $('#sido2').val();
    let sigoon = $('#siGoon2').val();
    let JWAddr = sido+" "+sigoon;
    $('#JWAddr2').val(JWAddr);
  }
  function setJWAddr3(){
    let sido = $('#sido3').val();
    let sigoon = $('#siGoon3').val();
    let JWAddr = sido+" "+sigoon;
    $('#JWAddr3').val(JWAddr);
  }
</script>


</html>