<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN!</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/login.css">

    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">

</head>

<body class="login-body">

<div class="wrapper">
    <div class="container">
        <div class="sign-up-container">

            <form action="CMLogin" method="post">

                <h1>기업로그인</h1>
                <div class="social-links"></div>

                <span>계정사용</span>

                <input type="text" name="MId" placeholder="아이디">
                <input type="password" name="CMPw" placeholder="비밀번호">

                <button class="form_btn">로그인</button>

                </br>

                <div>
                    <a href="cmidfind" class="idFind">아이디찾기</a>
                    &nbsp / &nbsp
                    <a href="cmFindPw" class="pwFind">비밀번호찾기</a>
                </div>

                </br>

                <div><a href="CMJoin" class="login-join-a">회원가입</a></div>

            </form>

        </div>

        <div class="sign-in-container">

            <form action="PMLogin" method="post">
                <h1>개인로그인</h1>

                <div class="social-links"></div>
                <span>계정사용</span>

                <input type="text" name="MId" placeholder="아이디">
                <input type="password" name="PMPw" placeholder="비밀번호">

                <button class="form_btn">로그인</button>

                </br>

                <div>
                    <a href="idfind" class="idFind">아이디찾기</a>
                    &nbsp / &nbsp
                    <a href="pmFindPw" class="pwFind">비밀번호찾기</a>
                </div>

                </br>

                <div><a href="PMJoin" class="login-join-a">회원가입</a></div>

            </form>

        </div>

        <div class="overlay-container">
            <div class="overlay-left">
                <button id="signIn" class="overlay_btn_p">개인로그인</button>
            </div>

            <div class="overlay-right">
                <button id="signUp" class="overlay_btn_c">기업로그인</button>
            </div>
        </div>
    </div>
</div>
<script>
    const signUpBtn = document.getElementById("signUp");
    const signInBtn = document.getElementById("signIn");
    const container = document.querySelector(".container");

    signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });
    signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });
</script>


<script th:if="${loginfail ne null}">
    alert('[[${loginfail}]]');
</script>

</body>

</html>