<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="mingo">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/pwChange.css">
    <title>비밀번호 찾기</title>

</head>

<div th:include="header.html"></div>

<body>
<h1>비밀번호 찾기</h1>
<input type="hidden" id="emailcheck()" value="">
<!--이메일 입력-->
<div>
    <input type="email" class="email" id="PMEmail" name="PMEmail" placeholder=" 이메일 입력" style="width: 200px;" size="40"  required/>
    <span id="confEmail">
            <a href="#" onclick="checkEmail()" >
        <span></span>
        <span></span>
        <span></span>
        <span ></span>
        인증번호 발송
            </a>
    </span>
</div>

<!-- 비밀번호 변경-->
<div id="changePw">

</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script>

    function checkEmail() {


        let PMEmail = $("#PMEmail").val();
        $.ajax({
            type: "POST",
            url: "PMCheckEmail",
            data: {"PMEmail": PMEmail},
            dataType: "text",
            success: function (uuid) {
                $("#confEmail").html("<br/><input type='text' id='uuidCheck'/>"
                    + " <input type='hidden' value='" + uuid + "' id='uuid'/>"
                    +"<a href=\"#\" onclick=\"checkEmail2()\">\n"
                    +"            <span></span>   \n"
                    +"            <span></span>\n"
                    +"            <span></span>\n"
                    +"            <span></span>\n"
                    +"            인증\n"
                    +"        </a>"
                );
            },
            error: function () {
                alert('이메일 인증 통신 실패!');
            }
        });
    }


    function checkEmail2() {
        let uuid = $("#uuid").val();

        let uuidCheck = $("#uuidCheck").val();



        if (uuid == uuidCheck) {
            alert('인증성공!');
            $('#emailvalue').val('YES');
            $("#confEmail").html('');
            $("#changePw").html(' <form action="pmFindPw" method="POST">\n' +
                '        <table>\n' +
                '        <tr>\n' +
                '            <td>아이디</td>\n' +
                '            <td>  ' +
                '<input type="text" name="MId"/>'+
                '</td>\n'+
                '        </tr>\n' +
                '            <td>새 비밀번호</td>\n' +
                '            <td>  <input type="password" name="PMPw" id="newPw" onkeyup="pwRegexp()" placeholder="비밀번호 입력(영문, 숫자, 특수문자 혼합)"/></br>\n' +
                '                <span id="pwResult1"></span></td>\n' +
                '        </tr>\n' +
                '        <tr>\n' +
                '            <td>새 비밀번호 확인</td>\n' +
                '            <td>    <input type="password" id="checkPw" onkeyup="pwCheck()" placeholder="비밀번호 확인"/></br>\n' +
                '                <span id="pwResult2"></span></td>\n' +
                '        </tr>\n' +
                '        <tr>\n' +
                '            <td colspan="2"> <input type="submit" value="변경"/></td>\n' +
                '        </tr>\n' +
                '\n' +
                '        </table>\n' +
                '\n' +
                '\n' +
                '\n' +
                '    </form>');
        } else {
            alert('인증실패!');
            $('#emailvalue').val('NO');
        }

    }

    function pwRegexp() {
        let memPw = document.getElementById("newPw").value;
        let pwResult1 = document.getElementById("pwResult1");

        let num = memPw.search(/[0-9]/);
        let eng = memPw.search(/[a-z]/);
        let ENG = memPw.search(/[A-Z]/);
        let spe = memPw.search(/[`~!@#$%^&*|\\\'\":;\/?]/);
        let spc = memPw.search(/\s/);


        if (memPw.length < 8 || memPw.length > 16) {
            pwResult1.style.color = "#ff0000";
            pwResult1.innerHTML = "비밀번호는 8자리에서 16자리 이내로 입력해주세요.";
            $('#pwvalue').val('NO');

        } else if (spc >= 0) {
            pwResult1.style.color = "#ff0000";
            pwResult1.innerHTML = "비밀번호는 공백없이 입력해주세요.";
            $('#pwvalue').val('NO');

        } else if (num < 0 || eng < 0 || spe < 0 || ENG < 0) {
            pwResult1.style.color = "#ff0000";
            pwResult1.innerHTML = "영문, 숫자, 특수문자를 혼합하여 입력해주세요.";
            $('#pwvalue').val('NO');

        } else {
            pwResult1.style.color = "#0000ff";
            pwResult1.innerHTML = "사용가능한 비밀번호 입니다.";
            $('#pwvalue').val('YES');
        }

    }

    function pwCheck() {

        let memPw = document.getElementById("newPw").value;
        let checkPw = document.getElementById("checkPw").value;
        let pwResult2 = document.getElementById("pwResult2");

        if (memPw == checkPw) {
            pwResult2.style.color = "#0000ff";
            pwResult2.innerHTML = "비밀번호가 일치합니다.";
            $('#pwcheckvalue').val('YES');
        } else {
            pwResult2.style.color = "#ff0000";
            pwResult2.innerHTML = "비밀번호가 일치하지 않습니다.";
            $('#pwcheckvalue').val('NO');
        }

    }
</script>

</html>