<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/pwChange.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <title>아이디 찾기</title>
</head>

<div th:include="header.html"></div>

<body>

<div class="pwChangeForm-table-div">

<form action="idfind"
      method="POST" enctype="multipart/form-data" class="joinForm">

    <table class="pwChangeForm-table">

        <caption class="pwChangeForm-table-caption">아이디 찾기</caption>


        <tr class="pwChangeForm-tr">
            <th class="pwChangeForm-th">이메일</th>
            <td class="pwChangeForm-td">
                <input type="email" name="PMEmail" placeholder="가입한 이메일 입력"
                       class="pwChangeFormPw" style="font-family: aggro02; font-size: 1.0em;"></td>
        </tr>


        <tr>
            <td colspan="2">
                <input type="submit" value="전송" style="font-family: aggro02; margin-left: 440px;"/></td>
        </tr>


    </table>

</form>

</div>
</body>
</html>