<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="autor" content="밍고">
    <meta name="date" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="/assets/css/pmList.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>

</head>

<div th:include="header.html"></div>

<body>

<h1 class="pmList-board-title">회원목록(개인)</h1>


<table class="pmList-table">

    <thead class="pmList-board-thead">
    <tr class="pmList-board-tr">
        <th class="pmList-board-th">이름</th>
        <th class="pmList-board-th">아이디</th>
        <th class="pmList-board-th">성별</th>
        <th class="pmList-board-th">연락처</th>
        <th class="pmList-board-th">이메일</th>
    </tr>
    </thead>

    <tbody class="pmList-board-tbody">
    <tr th:each="list : ${pList}" class="pmList-board-tr">
        <th class="pmList-board-th">
            [[${list.PMName}]]
        </th>

        <th class="pmList-board-th">
            <a th:href="@{pmMyView(MId=${list.MId})}">
                [[${list.MId}]]
            </a>
        </th>

        <th class="pmList-board-th">
            [[${list.PMGender}]]
        </th>

        <th class="pmList-board-th">
            <p>[[${list.PMPhone}]]</p>
        </th>

        <th class="pmList-board-th">
            <p>[[${list.PMEmail}]]</p>
        </th>
    </tr>
    </tbody>

</table>

</div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>




</html>