<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="autor" content="rlawnstj">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/assets/css/pmModify.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <title>수정페이지</title>
</head>

<div th:include="header.html"></div>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>

<body>

<div class="pmModifyWriteForm-table-div">

    <form action="pmModify" method="post" enctype="multipart/form-data"
          class="pmModifyWriteForm">

        <table class="pmModifyWriteForm-table">
            <caption class="pmModifyWriteForm-table-caption">회원수정</caption>

            <tr class="pmModifyWriteForm-tr">
                <th class="pmModifyWriteForm-th">아이디</th>
                <td class="pmModifyWriteForm-td">
                    <input type="text" name="MId" th:value="${pmModify.MId}" class="pmModifyId" readonly/>
                </td>
            </tr>

            <!--        <tr>-->
            <!--            <th>비밀번호</th>-->
            <!--            <td><input type="password" name="PMPw"/></td>-->
            <!--        </tr>-->

            <tr class="pmModifyWriteForm-tr">
                <th class="pmModifyWriteForm-th">이름</th>
                <td class="pmModifyWriteForm-td">
                    <input type="text" name="PMName" th:value="${pmModify.PMName}" class="pmModifyName"/></td>
            </tr>

            <tr class="pmModifyWriteForm-tr">
                <th class="pmModifyWriteForm-th">생년월일</th>
                <td class="pmModifyWriteForm-td">
                    <input type="date" name="PMBirth" class="pmModifyBirth"/>
                </td>
            </tr>

            <tr class="pmModifyWriteForm-tr">
                <th class="pmModifyWriteForm-th">이메일</th>
                <td class="pmModifyWriteForm-td">
                    <input type="email" th:value="${pmModify.PMEmail}" class="pmModifyEmail" readonly/>
                </td>
            </tr>

            <tr class="pmModifyWriteForm-tr">
                <th class="pmModifyWriteForm-th">연락처</th>
                <td class="pmModifyWriteForm-td">
                    <input type="text" name="PMPhone" th:value="${pmModify.PMPhone}" class="pmModifyPhone"/></td>
            </tr>

            <tr class="pmModifyWriteForm-tr">
                <th class="pmModifyWriteForm-th">프로필 사진</th>
                <td class="pmModifyWriteForm-td"><input type="file" name="PMProfile"/>
                    <input type="hidden" name="PMProfileName" th:value="${pmModify.PMProfileName}" class="pmModifyProfile"></td>
            </tr>

            <tr>
                <th colspan="2">
                    <input type="submit" value="수정" style="font-family: aggro02; margin-left: 100px;"/>
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>