<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/myView.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <title>프로필</title>

</head>

<div th:include="header.html"></div>

<body>

<div class="myView-div">

    <table class="pmMyView-table">

        <caption class="myView-table-caption">내 프로필</caption>

        <tr class="myView-tr">
            <th class="myView-th">아이디</th>
            <td class="myView-td" th:text="${personal.MId}"></td>
        </tr>

        <tr class="myView-tr">
            <th class="myView-th">이름</th>
            <td class="myView-td" th:text="${personal.PMName}"></td>
        </tr>

        <tr class="myView-tr">
            <th class="myView-th">생년월일</th>
            <td class="myView-td" th:text="${personal.PMBirth}"></td>
        </tr>

        <tr class="myView-tr">
            <th class="myView-th">성별</th>
            <td class="myView-td" th:text="${personal.PMGender}"></td>
        </tr>

        <tr class="myView-tr">
            <th class="myView-th">이메일</th>
            <td class="myView-td" th:text="${personal.PMEmail}"></td>
        </tr>

        <tr class="myView-tr">
            <th class="myView-th">연락처</th>
            <td class="myView-td" th:text="${personal.PMPhone}"></td>
        </tr>

        <!-- 카카오 주소 api 사용하기 -->
        <tr class="myView-tr">
            <th class="myView-th">주소</th>
            <td class="myView-td" th:text="${personal.PMAddr}"></td>
        </tr>

        <tr class="myView-tr">
            <th class="myView-th">프로필사진</th>
            <td class="myView-td">
                <img th:src="@{/profile/{profileName}(profileName=${personal.PMProfileName})}" width="200px"/>
            </td>
        </tr>

        <tr class="myView-tr">
            <th colspan="2">

                <button th:onclick="|location.href='@{pmModify(MId=${personal.MId})}'|"
                        th:if="${session.login ne null  && personal.MId ne 'admin' && session.login.MId eq personal.MId}"
                        class="modify-button">
                    <i class="fa-solid fa-user-pen"></i>
                    수정
                </button>

                <button th:if="${session.login ne null  && personal.MId ne 'admin' && session.login.MId eq personal.MId}"
                        onclick="location.href='pmPwChangeForm'"
                        class="delete-button">
                    <i class="fa-solid fa-arrow-down-up-lock"></i>
                    비밀번호 변경
                </button>
                <div th:if="${session.login ne null && personal.MId ne 'admin'&& session.login.MId eq 'admin'}">
                    <span th:if="${susDate ne null}">[[${susDate}]]까지 정지</span>
                    <select id="suspendDays">
                        <option value=0>--------</option>
                        <option value=1>해제</option>
                        <option value=2>1일</option>
                        <option value=8>7일</option>
                        <option value=31>30일</option>
                        <option value=366>1년</option>
                        <option value=365001>1000년</option>
                    </select>
                    <button th:onclick="setSuspended()">정지</button>
                </div>

                <button th:if="${session.login ne null  && personal.MId ne 'admin' && session.login.MId eq personal.MId}" th:onclick="memD()" class="delete-button">
                    <i class="fa-solid fa-user-slash"></i>
                    탈퇴
                </button>

            </th>
        </tr>

    </table>

</div>

</body>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script th:if="${session.login eq null ||(session.login.MId ne personal.MId && session.login.MId ne 'admin')}">
    alert('본인의 정보만 확인할 수 있습니다');
    location.href = "/";
</script>

<script>
    function memD() {

        if (confirm("탈퇴하시겠습니까?")) {
            // 확인 버튼 클릭 시 동작
            alert("탈퇴됐습니다.");
            location.href = 'pmDelete?MId=[[${personal.MId}]]';
        } else {
            // 취소 버튼 클릭 시 동작
            alert("탈퇴를 취소했습니다.");
        }

    }

</script>
<script>
    function setSuspended(){
        let MId='[[${personal.MId}]]';
        let suspendDays=parseInt($('#suspendDays').val())-1;
        let now = new Date();	// 현재 날짜 및 시간\

        let setsuspendDate = new Date(now.setDate(now.getDate() + suspendDays));	// 정지 풀릴 날짜
        let suspendDate =  setsuspendDate.getFullYear()+"";
        if((setsuspendDate.getMonth()+1)<10){
       suspendDate +="0"+ (setsuspendDate.getMonth()+1);}
        else{
            suspendDate +=""+ (setsuspendDate.getMonth()+1);
        }
        if((setsuspendDate.getDate()+1)<10){
            suspendDate +="0"+ (setsuspendDate.getDate());}
        else{
            suspendDate +="" +(setsuspendDate.getDate());
        }
        if(suspendDays < 0 ){
            alert('정지일을 선택해주세요!');
        }else{
            $.ajax({
                type: "post",
                url: "setSuspended",
                async: false,
                data: {
                    "MId": MId,
                    "suspendDays": suspendDays,
                    "suspendDate": suspendDate
                },
                dataType: 'text',
                success: function (text) {
                    alert(text);
                    location.href='/pmMyView?MId='+MId;
                },
                error: function (error) {

                }
            });}
    }
</script>

</html>