<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/othersView.css">
    <link rel="shortcut icon" href="/assets/img/logo/Fab.ico" type="image/x-icon">
    <title>프로필</title>

</head>

<div th:include="header.html"></div>

<body>

<div class="otherView-div">

    <table class="otherView-table">

        <caption class="otherView-table-caption">[[${personal.MId}]]님 프로필</caption>

        <tr class="otherView-tr">
            <th class="otherView-th">아이디</th>
            <td class="otherView-td" th:text="${personal.MId}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">나이</th>
            <td class="otherView-td" th:text="${personal.age}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">성별</th>
            <td class="otherView-td" th:text="${personal.PMGender}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">이메일</th>
            <td class="otherView-td" th:text="${personal.PMEmail}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">지역</th>
            <td class="otherView-td" th:text="${personal.PMAddr}"></td>
        </tr>

        <tr class="otherView-tr">
            <th class="otherView-th">프로필사진</th>
            <td class="otherView-td">
                <img th:src="@{/profile/{profileName}(profileName=${personal.PMProfileName})}"
                                    width="200px">
            </td>
        </tr>

    </table>

</div>

</body>

</html>