<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="single/css/register.css">

</head>
<body class="animsition">
<div th:include="header.html"></div>
<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">회원가입</h4>
      <p class="text-center">환영합니다!</p>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form action="MJoin" onsubmit="return checkConfirm();"
            method="post" enctype="multipart/form-data" class="joinForm">
      <!--<input type="text" placeholder="아이디" id="MId" class="id" name="MId" onchange="checkId()"
                   style="width: 200px" pattern="[A-Za-z0-9]*" required /> -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" placeholder="아이디" type="text" id="MId" name="MId" required />
          <input type="button" onclick="checkId()" value="중복확인"></input>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
          </div>
          <input class="form-control" placeholder="이름" type="text" name="MName" required />
        </div> <!-- form-group// -->

        <div class="form-group input-group">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          <input class="form-control" type="email" id="MEmail" name="MEmail" placeholder="이메일 입력" size="40"  required/>
          <input type="button" onclick="checkEmail()" value="인증">
        </div> <!-- form-group// -->

        <div class="form-group input-group" id="confEmail">

        </div> <!-- form-group// -->

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <input class="form-control" type="text" name="MPhone" placeholder="전화번호" required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <input type="text" class="form-control" name="addr1" id="sample6_postcode" placeholder=" 우편번호" style="width: 200px" required readonly/>
          <a href="#" onclick="sample6_execDaumPostcode()" class="PMJoin-ghost02">우편번호 찾기</a>
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
          <input type="text" class="form-control" name="addr2" size="40" id="sample6_address" placeholder=" 주소"  required readonly/>
          <input type="text" class="form-control" name="addr3" size="40" id="sample6_detailAddress" placeholder="상세주소" required />
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" type="password" name="MPw" id="MPw" onkeyup="pwRegexp()" placeholder="비밀번호 입력(영문, 숫자, 특수문자 혼합)" style="width: 300px" required/>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" type="password" id="checkPw" onkeyup="pwCheck()" placeholder="비밀번호 확인"  required>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-birthday-cake"></i> </span>
          </div>
          <input class="form-control" type="date" name="PMBirth">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <i class="fa fa-male"></i>
            남성
            <input type="radio" name="MGender" value="남성"/>
            &nbsp;&nbsp;
            <i class="fa fa-female"></i>
            여성
            <input type="radio" name="MGender" value="여성"/>
            &nbsp;&nbsp;
            <i class="fa fa-user-o"></i>
            비공개
            <input type="radio" name="MGender" value="비공개"/>
          </div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
          </div>
          <input type="file" id="img" name="MProfile" style="font-family: aggro02;"/>
        </div> <!-- form-group// -->
        <div id="image_preview">
          <img src="/img.png" alt="미리보기"  style="width:126px; height:165px; font-family: aggro02; ">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> 가입  </button>
        </div> <!-- form-group// -->
        <p class="text-center">아이디가 있으십니까? <a href="login">로그인</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->
</div>
  <div th:include="footer.html"></div>
<input type="hidden" id="idvalue" value="">
<input type="hidden" id="pwvalue" value="">
<input type="hidden" id="pwcheckvalue" value="">
<input type="hidden" id="emailvalue" value="">
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script>
  // 이미지 업로드
  $('#img').on('change', function() {
    ext = $(this).val().split('.').pop().toLowerCase(); //확장자
    //배열에 추출한 확장자가 존재하는지 체크
    if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
      resetFormElement($(this)); //폼 초기화
      window.alert('이미지 파일이 아닙니다! (gif, png, jpg, jpeg 만 업로드 가능)');
    } else {
      file = $('#img').prop("files")[0];
      blobURL = window.URL.createObjectURL(file);
      $('#image_preview img').attr('src', blobURL);
      $('#image_preview').slideDown(); //업로드한 이미지 미리보기
      /*$(this).slideUp(); //파일 양식 감춤*/
    }
  });
</script>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script>

  function pwRegexp() {
    let meMPw = document.getElementById("MPw").value;
   /* let pwResult1 = document.getElementById("pwResult1");*/

    let num = meMPw.search(/[0-9]/);
    let eng = meMPw.search(/[a-z]/);
    let ENG = meMPw.search(/[A-Z]/);
    let spe = meMPw.search(/[`~!@#$%^&*|\\\'\":;\/?]/);
    let spc = meMPw.search(/\s/);




    if (meMPw.length < 8 || meMPw.length > 16) {
      /*pwResult1.style.color = "#ff0000";
      pwResult1.innerHTML = "비밀번호는 8자리에서 16자리 이내로 입력해주세요.";*/
      $('#pwvalue').val('NO');

    } else if (spc >= 0) {
      /*pwResult1.style.color = "#ff0000";
      pwResult1.innerHTML = "비밀번호는 공백없이 입력해주세요.";*/
      $('#pwvalue').val('NO');

    } else if (num < 0 || eng < 0 || spe < 0 || ENG < 0) {
      /*pwResult1.style.color = "#ff0000";
      pwResult1.innerHTML = "영문, 숫자, 특수문자를 혼합하여 입력해주세요.";*/
      $('#pwvalue').val('NO');

    } else {
     /* pwResult1.style.color = "#0000ff";
      pwResult1.innerHTML = "사용가능한 비밀번호 입니다.";*/
      $('#pwvalue').val('YES');
    }


  }

  function pwCheck() {

    let meMPw = document.getElementById("MPw").value;
    let checkPw = document.getElementById("checkPw").value;
   /* let pwResult2 = document.getElementById("pwResult2");*/

    if (meMPw == checkPw) {
     /* pwResult2.style.color = "#0000ff";
      pwResult2.innerHTML = "비밀번호가 일치합니다.";*/
      $('#pwcheckvalue').val('YES');
    } else {
    /*  pwResult2.style.color = "#ff0000";
      pwResult2.innerHTML = "비밀번호가 일치하지 않습니다.";*/
      $('#pwcheckvalue').val('NO');
    }


  }


  function checkConfirm(){
    let CId= $('#idvalue').val();
    let CPw= $('#pwvalue').val();
    let CPwC= $('#pwcheckvalue').val();
    let CEmail= $('#emailvalue').val();
    let conf=false;
    if(CId!='YES'){
      alert('아이디를 확인해주세요');
    }
    else if(CPw!='YES' || CPwC!='YES'){

      alert('비밀번호를 확인해주세요!.');
    } else if(CEmail!='YES'){
      alert('이메일 인증을 진행해주세요.');
    } else {
      conf=true;
    }
    return conf;
  }

  function checkId() {
    let MId = document.getElementById("MId").value;
  console.log(MId);
    // location.href = "idCheck?memId=" + memId;
    let check1 = document.getElementById("check1");
    let hangle = MId.search(/[ㄱ-ㅎ가-힣]/);
    if(MId==""){
      check1.innerHTML = "아이디를 입력해주세요";
      check1.style.color = "#ff0000";
      $('#idvalue').val('NO');
    }else if(hangle>=0){
      check1.innerHTML = "아이디에 한글을 사용할 수 없습니다.";
      check1.style.color = "#ff0000";
      $('#idvalue').val('NO');
    }else {
      $.ajax({
        type: "POST",
        url: "idoverlap",
        data: {
          "MId": MId
        },
        dataType: "text",
        success: function (result) {
          if (result == "OK") {
            // 사용할 수 있는 아이디일 경우 실행
            alert(MId+'는 사용 가능한 아이디입니다.');
            $('#idvalue').val('YES');

          } else {
            // 사용할 수 없는 아이디일 경우 실행
            alert(MId+'는 이미 사용 중인 아이디입니다!');
            $('#idvalue').val('NO');
          }
        },
        error: function () {
          alert("idoverlap함수 통신실패!");

        }

      });}


  }

  function checkEmail() {


    let MEmail = $("#MEmail").val();

    $.ajax({
      type: "POST",
      url: "MCheckEmail",
      data: {"MEmail": MEmail},
      dataType: "text",
      success: function (uuid) {

      $("#confEmail").html("<br/><input type='text' id='uuidCheck'/>"
                + " <input type='hidden' value='" + uuid + "' id='uuid'/>"
                +"<a href=\"#\" onclick=\"checkEmail2()\">"
                +"            확인"
                +"        </a>"
        );
        console.log(uuid+"전송 성공!");
      },
      error: function () {
        alert('이메일 인증 통신 실패!');
      }
    });
  }


  function checkEmail2() {
    let uuid = $("#uuid").val();


    let uuidCheck = $("#uuidCheck").val();




    if (uuid == uuidCheck) {
      alert('인증성공!');
      $('#emailvalue').val('YES');
      $("#confEmail").html('');
    } else {
      alert('인증실패!');
      $('#emailvalue').val('NO');
    }

  }

</script>

<script
        src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function (data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }


        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
</script>
</html>