<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.icia.work.dao.CompanyDAO">
    <insert id="CMJoin" parameterType="company">
        INSERT INTO COMPANY_MEMBER VALUES (#{MId},#{CMPw},#{CMName},#{CMPhone},#{CMEmail},#{CMSite},#{CMAddr},#{CMBn},#{CMProfileName},NULL,'기업')
    </insert>

    <select id="CMView" parameterType="String" resultType="company">
        SELECT * FROM COMPANY_MEMBER WHERE MID=#{MId}
    </select>

    <update id="CMmodify" parameterType="company">
        UPDATE COMPANY_MEMBER SET CMNAME=#{CMName}, CMPHONE=#{CMPhone}, CMPROFILENAME=#{CMProfileName} WHERE MID = #{MId}
    </update>

    <delete id="cmDelete" parameterType="String">
        DELETE FROM COMPANY_MEMBER WHERE MID = #{MId}
    </delete>

    <select id="cmidfind" resultType="String" parameterType="String">
        SELECT MID FROM COMPANY_MEMBER WHERE CMEMAIL=#{CMEmail}
    </select>

    <update id="UpdatePw" parameterType="company">
        UPDATE COMPANY_MEMBER SET CMPW=#{CMPw} WHERE MID = #{MId}
    </update>

    <select id="company" parameterType="String" resultType="company">
        SELECT * FROM COMPANY_MEMBER WHERE MID=#{MId}
    </select>

    <select id="companyList" resultType="company">
        SELECT * FROM COMPANY_MEMBER ORDER BY CMNAME DESC
    </select>

</mapper>