<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.work.dao.GCommentDAO">
    <select id="GuinCommentList" resultType="gcomment" parameterType="int">
        select * from GUIN_COMMENT WHERE GCBNUM=#{GCBNum} order by GCBNum asc
    </select>

    <insert id="GuinCommentWrite" parameterType="gcomment">
        INSERT INTO GUIN_COMMENT VALUES(#{GCBNum},GC_SEQ.NEXTVAL, #{GCWriter}, #{GCProfileName}, #{GCContent}, SYSDATE)
    </insert>

    <delete id="GuinCommentDelete" parameterType="gcomment">
        DELETE FROM GUIN_COMMENT WHERE GCBNUM = #{GCBNum} AND GCNUM = #{GCNum}
    </delete>

</mapper>