<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.work.dao.JobDAO">
    <select id="JobList" resultType="job">
        SELECT * FROM JOB_BOARD ORDER BY JBNUM DESC
    </select>

    <insert id="JobWrite" parameterType="job">
        INSERT INTO JOB_BOARD VALUES(JB_SEQ.NEXTVAL, #{JBId}, #{JBTitle}, #{JBEdu},
                                     #{JBContent}, #{JBPay}, #{JBPeriod}, #{JBCategory}, #{JBWorkDate},
                                     #{JBWorkStart}, #{JBWorkTime}, #{JBLicense1}, #{JBLicense2}, #{JBLicense3},
                                     #{JBAddr1}, #{JBAddr2}, #{JBAddr3},
                                     #{JBDatafile1Name}, #{JBDatafile2Name}, #{JBDatafile3Name},
                                     SYSDATE, 0, 0)
    </insert>

    <select id="JobView" parameterType="int" resultType="job">
        SELECT * FROM JOB_BOARD WHERE JBNUM = #{JBNum}
    </select>

    <update id="JobModify" parameterType="job">
        UPDATE JOB_BOARD
        SET JBId = #{JBId}, JBTitle = #{JBTitle},
            JBEdu = #{JBEdu} , JBContent = #{JBContent}, JBPay = #{JBPay} ,
            JBPeriod = #{JBPeriod}, JBCategory = #{JBCategory}, JBWorkDate = #{JBWorkDate}, JBWorkStart = #{JBWorkStart}
                , JBWorkTime = #{JBWorkTime}, JBLicense1 = #{JBLicense1}, JBLicense2 = #{JBLicense2}, JBLicense3 = #{JBLicense3}
                , JBAddr1 = #{JBAddr1}, JBAddr2 = #{JBAddr2}, JBAddr3 = #{JBAddr3},
            JBDatafile1Name = #{JBDatafile1Name}, JBDatafile2Name = #{JBDatafile2Name} , JBDatafile3Name = #{JBDatafile3Name}
        WHERE JBNUM = #{JBNum}
    </update>

    <delete id="JobDelete" parameterType="int">
        DELETE FROM JOB_BOARD WHERE JBNum = #{JBNum}
    </delete>

    <select id="otherpmView" parameterType="String" resultType="personal">
        SELECT * FROM PERSONAL_MEMBER WHERE MID=#{jbId}
    </select>

    <update id="jbHitpl" parameterType="int">
        UPDATE JOB_BOARD
        SET JBHIT = JBHIT + 1
        WHERE JBNUM = #{JBNum}
    </update>

    <select id="getJobList5" resultType="job">
        select * FROM
        (
        SELECT
        *
        FROM JOB_BOARD ORDER BY ROWNUM DESC
        )
        WHERE ROWNUM  &lt;= 5
    </select>

    <update id="closeJobPost" parameterType="int">
        UPDATE JOB_BOARD SET JBDEADLINE=1 WHERE JBNUM=#{JBNum}
    </update>

    <select id="jConunt" resultType="int">
        SELECT COUNT(*) FROM JOB_BOARD
    </select>

    <select id="findJList" resultType="job" parameterType="city">
        select * from (select * from job_board ORDER BY ROWNUM DESC) where JBCATEGORY LIKE '%'||#{Category}||'%' AND JBTITLE LIKE '%'||#{searchv}||'%' AND (JBADDR1 LIKE '%'||#{sido}||'%'||#{siGoon}||'%'  OR JBADDR2 LIKE '%'||#{sido}||'%'||#{siGoon}||'%'  OR JBADDR3 LIKE '%'||#{sido}||'%'||#{siGoon}||'%')
    </select>


</mapper>