<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.work.dao.NoticeDAO">
    <select id="findNoticeList" resultType="notice">
        SELECT * FROM NOTICE order by NONUM DESC
    </select>

    <insert id="NoticeWrite" parameterType="notice">
        INSERT INTO NOTICE VALUES(NO_SEQ.NEXTVAL, #{NoTitle}, #{NoContent}, SYSDATE,
                                  #{NoFileName},0)
    </insert>

    <select id="NoticeView" parameterType="int" resultType="notice">
        SELECT * FROM NOTICE WHERE NoNum = #{NoNum}
    </select>

    <update id="noHitpl" parameterType="int">
        UPDATE NOTICE
        SET NOHit = NOHit + 1
        WHERE NoNum = #{NoNum}
    </update>

    <delete id="NoticeDelete" parameterType="int">
        DELETE FROM NOTICE WHERE NoNum = #{NoNum}
    </delete>

    <select id="getNoticeList5" resultType="notice">
       select * FROM
        (
        SELECT
        *
        FROM NOTICE ORDER BY ROWNUM DESC
        )
        WHERE ROWNUM  &lt;= 5
    </select>

</mapper>